<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">MediaPatrik Áruház</title>
</head>

<body>

<div th:fragment="header" class="sticky-header">
    <div class="header-logo">
        <img class="mediapatrik-logo" src="../static/images/logo.png" th:src="@{/images/logo.png}"/>
    </div>
    <div class="header-menu">
        <b><a href="/home" th:href="@{home}" class="a-home" th:text="#{header.home}">Főoldal</a></b>
        <b><a href="/shop" th:href="@{shop}" class="a-shop" th:text="#{header.shop}">Termékek</a></b>
        <b><a href="/admin" th:href="@{admin}" class="a-admin" th:text="#{header.admin}"
              sec:authorize="hasRole('ADMIN')">Admin kezelőfelület</a></b>
    </div>
    <div class="header-login-logout">
        <b><a sec:authorize="isAnonymous()" href="/login" th:href="@{login}" class="a-login" th:text="#{header.login}">Bejelentkezés</a></b>
        <b><a sec:authorize="isAnonymous()" href="/register" th:href="@{register}" class="a-login"
              th:text="#{header.register}">Regisztráció</a></b>
        <b><a sec:authorize="isAuthenticated()" href="/my-account" th:href="@{my-account}" class="a-myaccount"
              th:text="#{header.myaccount}">Saját fiók</a></b>
        <form sec:authorize="isAuthenticated()" action="post" th:action="@{/logout}">
            <button sec:authorize="isAuthenticated()" class="logout-button" th:text="#{header.logout}">Kijelentkezés
            </button>
        </form>
    </div>
</div>

</body>

</html>