.div-content {
    padding: 20px;
    display: grid;
    background: white;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.div-content > div {
    display: grid;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: inset 10px 10px 20px #C5C5C5,
                inset -10px -10px 20px #FBFBFB;
    transition: all 1500ms cubic-bezier(.23, 1, 0.32, 1);
    margin: 20px 20px;
}

.div-content > div:hover {
    box-shadow: inset 10px 10px 20px #A64C67,
                inset -10px -10px 20px #FBFBFB;
    transition: all 1500ms cubic-bezier(.23, 1, 0.32, 1);
}

#product-name {
    margin: 30px auto 10px;
}

#product-price {
    margin: 10px auto 30px;
}

#product-image {
    float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 30px;
    border: 2px solid #030303;
}

.button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #A80E3C;
    border-radius: 15px;
    box-sizing: border-box;
    color: #A80E3C;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
    margin: 20px auto;
    min-height: 40px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    width: 150px;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    color: #2E283D;
    background-color: rgba(46, 40, 61, 0.05);
    border: 2px solid #2E283D;
    box-shadow: rgba(46, 40, 61, 0.3) 0 8px 20px;
    transform: translateY(-2px);
}