<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title th:text="#{title} + ' - ' + #{header.home}">MediaPatrik Áruház</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/basic-style.css" th:href="@{/css/basic-style.css}">
</head>

<body>

    <div th:replace="fragments/common :: header"></div>

    <div class="div-content">
        <h2 th:text="#{mediapatrik.welcome}">Üdvözlünk a MediaPatrik webáruházban!</h2>
        <h3 th:text="#{mediapatrik.welcome.infos}">Információk</h3>
    </div>

</body>

</html>