<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title th:text="#{title} + ' - ' + #{header.myaccount}">MediaPatrik Áruház</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/basic-style.css"
          th:href="@{/css/basic-style.css}">
</head>

<body>

<div th:replace="fragments/common :: header"></div>

<div class="div-content" sec:authorize="hasAuthority('USER')">
    <h2 th:text="#{header.myaccount}"></h2>
    <h3 th:text="#{myaccount.orders}">Rendeléseim:</h3>
    <ol>
        <th:block th:each="product : ${orderedProducts}">
            <li th:text="#{product.name} + ': ' + ${product.name} + ' - ' + #{product.price} + ': ' + ${#numbers.formatInteger(product.price, 0, 'POINT')} + ' Ft - ' + #{product.type} + ': ' + ${product.productType}"></li>
        </th:block>
    </ol>
    <h4 th:text="'Összesen: ' + ${#numbers.formatInteger(countedPrice, 0, 'POINT')} + ' Ft'"></h4>
</div>

</body>
</html>