<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title th:text="#{title} + ' - ' + #{header.shop}">MediaPatrik Áruház</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/basic-style.css"
          th:href="@{/css/basic-style.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/shop-style.css"
          th:href="@{/css/shop-style.css}">
    <script type="text/javascript" src="../static/js/shop.js" th:src="@{/js/shop.js}"></script>
    <script type="text/javascript" src="../static/js/jquery-3.6.1.min.js" th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
</head>

<body>

<div th:replace="fragments/common :: header"></div>

<div class="div-content">
    <div class="div-product" th:each="product : ${products}">
        <span hidden="hidden" id="product-id" th:text="${product.id}"></span>
        <h2 id="product-name" th:text="${product.name}"></h2>
        <img id="product-image" th:src="@{|/images/products/${product.productType}/${product.imageName}.jpg|}"/>
        <h3 id="product-price" th:text="${product.price} + ' Ft'"></h3>
        <input sec:authorize="isAuthenticated()" type="button" class="button" role="button" th:value="#{product.order}" onclick="orderProduct(this)">
    </div>
</div>

</body>
</html>